@import '../abstracts/variables';

// estilização do main image container
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 38px;

    img {
        height: 140px;
        width: 100%;
    }

    .title-art {
        font-weight: $extraBold;
        text-align: center;
        font-size: 1rem;
    }

    .text-art {
        font-weight: $light;
        font-size: 0.938rem;
        text-align: justify;
        padding: 10px;
    }

    .bottom-image-container {
        padding: 26px 0 10px 10px;
        display: flex;
        align-items: center;

        .author {
            font-size: 0.938rem;
            font-weight: $light;
            padding-left: 10px;
        }

        .value {
            margin-left: auto;
            background-color: $primaryColor;
            padding: 5px 20px 5px 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .art {
        background-color: $tertiaryColor;
        margin: 0 auto;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        flex-basis: calc(33.33% - 20px);
        flex-grow: 1;
        // width: calc(33.33% - 20px);
    }

    .art:hover {
        opacity: 0.8;
    }
}


// ESTILIZAÇÃO DO MODAL

.modal {
    .modal-content {
        .modal-figure {
            .title-and-value {
                margin: 40px 0 5px 0;
                display: flex;
                align-items: baseline;
                justify-content: space-between;

                h3 {
                    font-weight: $bold;
                    font-size: 1.625rem;
                }

                p {
                    font-weight: $light;
                    font-size: 1rem;
                    color: $secondaryColor;
                }
            }

            .image-and-description {
                display: flex;

                div {
                    width: 410px;
                    height: 210px;
                    // flex: 1;
                    background-color: black;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    width: 360px;
                    font-size: 1rem;
                    font-weight: $medium;
                    margin-left: 10px;
                    text-align: justify;
                    line-height: 1.25rem;

                }
            }

            .author {
                display: flex;
                align-items: center;
                margin-top: 5px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                p {
                    font-size: 0.813rem;
                    font-weight: $extraLight;
                    margin-left: 5px;
                }
            }

            .buttons-modal {
                text-align: center;
                // margin: 38px 0 60px 0;

                .buttons-modal-cancel {
                    margin-right: 165px;
                }

                .buttons-modal-buy {
                    background-color: $secondaryColor;
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .image-and-description {
        display: block;
    }

}