@import '../abstracts/variables';

.main.home {
    // seta todo o conteudo main para alinhar ao centro
    text-align: center;
    margin-top: 50px;

    h1,
    h2 {
        font-size: 5rem;
        font-weight: $bold;
    }

    h1 {
        text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    }

    h2 {
        //coloca a borda vermelha ao redor do h2
        color: $bodyColor;
        text-shadow:
            -2px -2px 0 $primaryColor,
            2px -2px 0 $primaryColor,
            -2px 2px 0 $primaryColor,
            2px 2px 0 $primaryColor;
    }

    img {
        margin: 24px 0 0 24px;
        width: 100%;
        max-width: 440px;
    }
}

@media screen and (max-width: 920px) {
    .main.home {

        h1,
        h2 {
            font-size: 3.5rem;
        }
        img{
            margin: 24px 0 0 20px;
        }
    }
}