@import '../abstracts/variables';

.add-art {
    text-align: center;
    margin-top: 100px;

    button {
        margin-bottom: 30px;
        background-color: $secondaryColor;
    }

    hr {
        border: 2px solid $primaryColor;
    }

    p {
        font-size: 1.25rem;
        font-weight: $bold;
        margin: 47px 0;
    }
}

// estilização das artes adicionadas

.art-list {
    border: 1px solid $primaryColor;
    padding: 40px;
    display: flex;
    align-items: center;

    img {
        max-height: 150px;
    }

    div {
        margin-left: 30px;

        h3 {
            display: inline-block;
            font-size: 1.625rem;
            font-weight: $bold;
            margin-bottom: 10px;
        }

        .trash {
            float: right;
            cursor: pointer;
        }

        .trash:hover {
            opacity: 0.8;
        }

        .value {
            margin-bottom: 10px;
        }

        p {
            text-align: justify;
        }
    }

}

// modal estilização

.modal-add-art {
    margin: 40px;

    .form {
        display: grid;
        grid-template-columns: (repeat(3, 1fr));
        grid-gap: 20px;

        .add-image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #D9D9D9;
            grid-row: 1/3;
            border-radius: 6px;
            cursor: pointer;

            p {
                color: black;
            }
        }

        .add-image:hover {
            opacity: 0.8;
        }

        input,
        textarea {
            border: 1px solid $primaryColor;
            border-radius: 6px;
            background-color: transparent;
            padding: 7px 15px;
        }


        .description {
            height: 140px;
            grid-row: 2;
            grid-column: 2/4;

            textarea {
                width: 100%;
                height: 100%;
                resize: none;
            }

        }

    }

    // button estilização
    .buttons-modal {
        // text-align: center;
        margin-top: 38px;
        button{
            width: 140px;
        }
        .buttons-modal-cancel {
            margin-right: 165px;
        }

        .buttons-modal-add {
            background-color: $secondaryColor;

        }

    }
}


@media screen and (max-width: 768px) {
    .art-list {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-art-list {
            width: 100%;
            max-width: 320px;
        }

        div {
            margin-left: 0;
            margin-top: 10px;

            h3 {
                font-size: 1.2rem;
                font-weight: $extraBold;
            }

        }

    }

    .modal-add-art {
        margin: 20px;

        .form {
            div {
                margin-top: 20px;

                input {
                    width: 100%;
                }
            }

            display: block;

            .add-image {
                padding: 20px 0;
            }

            .add-image:hover {
                opacity: 0.8;
            }

            input,
            textarea {
                border: 1px solid $primaryColor;
                border-radius: 6px;
                background-color: transparent;
                padding: 7px 15px;
            }


            .description {
                textarea {
                    width: 100%;
                    height: 100%;
                    resize: none;
                }

            }

        }

        // button estilização
        .buttons-modal {
            // text-align: center;
            margin-top: 20px;
            button{
                font-size: 1rem;
                width: 100%;
            }
            .buttons-modal-cancel {
                margin-right: 0;
            }

            .buttons-modal-add {
                margin-top: 20px;
                background-color: $secondaryColor;
            }

        }
    }
}