@import '../abstracts/variables';

.nav {
    display: flex;

    .logo {
        margin-right: 83px;
    }

    ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        li {
            a {
                text-decoration: none;
                font-size: 1.25rem;
            }

            a:hover {
                color: $primaryColor;
            }
            a.active {
                border-bottom: 2px solid $primaryColor;
              }
            .enter {
                border: 1px solid $secondaryColor;
                border-radius: 6px;
                padding: 10px 20px;
            }
        }

    }
}

// menu hamburguer

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-item {
        li {
            display: none;
        }
    }

    .mobile-menu-icon {
        display: flex;

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;

        }
    }

    .mobile-menu {
        padding-bottom: 10px;
        border-bottom: 1px solid $primaryColor;
        background: linear-gradient(to bottom, rgba(57, 49, 57, 0.2) 0%, rgba(43, 36, 43, 0.5) 100%);

        ul {
            display: flex;
            flex-direction: column;
            text-align: center;

            li {
                display: flex;
                margin-top: 20px;

                a {
                    padding: 15px 0 0 0;
                    text-decoration: none;
                    font-size: 1.5rem;
                    width: 100%;
                    border-top: 1px solid $primaryColor;
                }

                .enter {
                    // border: 1px solid $secondaryColor;
                    // border-radius: 6px;
                    // padding: 0 20px;
                }
            }
        }
    }

    .open {
        display: block;
    }
}

