@import '../abstracts/variables';

.nav {
    display: flex;
    .logo {
        margin-right: 83px;
    }
    ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        width: 100%;       
        li {
            a {
                text-decoration: none;
                font-size: 1.25rem;
            }
            a:hover{
                color: $primaryColor;
            }
            .enter {
                border: 1px solid $secondaryColor;
                border-radius: 6px;
                padding: 10px 20px;
            }
        }

    }
}